.footer {
    position: relative;
    background-color: white;
}

.mide-footer {
    margin-top: 1.75em;
    margin-left: 3em;
    margin-bottom: 1.75em;
    width: 7em;
}

.social-footer {
    margin-right: 2em;
    object-fit: contain;
    width: 15em;
}

.colores-footer {
    top: -1em;
    width: 100vw;
    position: absolute;
    z-index: 0;
}
